<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="card-img-top" style="width:150px;height: 150px;" src="https://www.infos-lentilles-de-contact.com/upload_pic/thumb_1487519534.jpg" />
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
          <a routerLink="/authentification" class="nav-link" routerLinkActive="active">S'authentifier</a>&nbsp;&nbsp;&nbsp;
      </li>   
      <li class="nav-item" *ngIf="!show || admin">
        <a routerLink="/creationcompte" class="nav-link" routerLinkActive="active">Créer son compte</a>&nbsp;&nbsp;&nbsp;
      </li>   
      <li class="nav-item" *ngIf="show && admin">
        <a routerLink="/gestionutilisateurs" class="nav-link" routerLinkActive="active">Gérer les utilisateurs</a>&nbsp;&nbsp;&nbsp;
      </li>   
      <li class="nav-item" *ngIf="show && admin">
        <a routerLink="/gestionhoraires" class="nav-link" routerLinkActive="active">Gérer horaires d'ouverture</a>&nbsp;&nbsp;&nbsp;
      </li>     
      <li class="nav-item" *ngIf="show">
        <a routerLink="/reservation" class="nav-link" routerLinkActive="active">Prendre RDV</a>&nbsp;&nbsp;&nbsp;
      </li>     
      <li class="nav-item">
        <a routerLink="/logout" class="nav-link" routerLinkActive="active">Se déconnecter</a>&nbsp;&nbsp;&nbsp;
      </li>     
    </ul>
</nav>
<router-outlet></router-outlet>