<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div
         class="btn btn-primary"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>  
  </div>
  
  <!-- Everything you see below is just for the demo, you don't need to include it in your app -->
  
  <br /><br /><br />
  <!--
      <button class="btn btn-primary float-left" (click)="addEvent()">
    Ajout RDV
  </button>
  <div class="clearfix"></div>
-->
  <div>Horaires d'ouverture</div>
  <div> {{ openHoraires }}</div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Heure</th>
          <th>Supprimer</th>
          <th>Réserver</th>
        </tr>
      </thead>
  
      <tbody>
<!--        <tr *ngFor="let event of events"> -->
        <tr>
          <td>
            <input type="text" class="form-control" [(ngModel)]="title"/>
          </td>
          <td>
            <igx-time-picker [(ngModel)]="heureRDV" [itemsDelta]="{minutes:30}" format="HH:mm" name="heureRDV"></igx-time-picker>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)">
              Supprimer
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="addReservation(event)" [disabled]="reservationDisabled === true ? true : false">
              Réserver
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Event action occurred</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div>
        Action:
        <pre>{{ modalData?.action }}</pre>
      </div>
      <div>
        Event:
        <pre>{{ modalData?.event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>