<h3 style="text-align: center; color:green">Horaires d'ouverture</h3><br/><br/>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <div>             
            <form #myForm="ngForm">
                <table>
                    <th><h5>Lundi</h5></th><th><h5>Mardi</h5></th><th><h5>Mercredi</h5></th><th><h5>Jeudi</h5></th><th><h5>Vendredi</h5></th><th><h5>Samedi</h5></th>
                    <tr>
                        <ng-container *ngFor="let horaires of horairesList; let i = index;">
                            <td>
                                <p>Matin</p>
                                <igx-time-picker [isSpinLoop]="true" [itemsDelta]="{minutes:15}" format="HH:mm" name="row{{1 + i}}" [(ngModel)]="horaires.debutAMHour"></igx-time-picker>
                                <igx-time-picker [isSpinLoop]="true" [itemsDelta]="{minutes:15}" format="HH:mm" name="row{{7 + i}}" [(ngModel)]="horaires.finAMHour"></igx-time-picker>
                                <p>Après-midi</p>
                                <igx-time-picker [isSpinLoop]="true" [itemsDelta]="{minutes:15}" format="HH:mm" name="row{{14 + i}}" [(ngModel)]="horaires.debutPMHour"></igx-time-picker>
                                <igx-time-picker [isSpinLoop]="true"  [itemsDelta]="{minutes:15}"  format="HH:mm" name="row{{21 + i}}" [(ngModel)]="horaires.finPMHour"></igx-time-picker>
                            </td>
                        </ng-container>
                    </tr>
                </table>
                <br/><br/>
                <button (click)="saveHoraires()" type="submit" class="btn btn-primary mt-2">Enregistrer horaires</button>
            </form>
        </div>
    </div>
</div>