<h3 style="text-align: center; color:green">Horaires d'ouverture</h3><br/><br/>
<div class="container text-center">
    <div class="row justify-content-md-center">
        <div>             
            <form #myForm="ngForm">
                <table>
                    <th><h5>Lundi</h5></th><th><h5>Mardi</h5></th><th><h5>Mercredi</h5></th><th><h5>Jeudi</h5></th><th><h5>Vendredi</h5></th><th><h5>Samedi</h5></th>
                    <tr>
                        <td *ngFor="let horaire of horaires">
                            <p>Matin</p>
                            <igx-time-picker [itemsDelta]="{minutes:15}" format="HH:mm" name="debutAMHour" [(ngModel)]="horaire.debutAMHour"></igx-time-picker>
                            <igx-time-picker [itemsDelta]="{minutes:15}" format="HH:mm" name="finAMHour" [(ngModel)]="horaire.finAMHour"></igx-time-picker>
                            <p>Après-midi</p>
                            <igx-time-picker [itemsDelta]="{minutes:15}" format="HH:mm" name="debutPMHour" [(ngModel)]="horaire.debutPMHour"></igx-time-picker>
                            <igx-time-picker [itemsDelta]="{minutes:15}"  format="HH:mm" name="finPMHour" [(ngModel)]="horaire.finPMHour"></igx-time-picker>
                        </td>
                    </tr>
                </table>
                <br/><br/>
                <button (click)="saveHoraires()" type="submit" class="btn btn-primary mt-2">Enregistrer horaires</button>
            </form>
        </div>
    </div>
</div>